@media screen and (max-width: 414px) {
	.div-contenedor {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.div-interior {
		width: 80%;
	}
	img {
		width: 100%;
	}
	.imagen-card {
		background-color: blue;
		width: 100%;
	}
	.nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.titulo-principal {
		height: 90%;
	}
	h1 {
		font-size: 0.1em;
	}

	.tipo {
		display: flex;
		flex-direction: column;
	}
}
