@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap");
.boton-buscar {
  width: 60px;
  height: 30px;
  border: transparent;
  border-radius: 15px;
  color: white;
  background-color: black;
}

.botones-flecha {
  padding: 10px;
  margin: 10px;
  background-color: #8ca1a5;
  border: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

.botones-flecha:hover {
  background-color: #ce2445;
}

.boton-volver-atras {
  border: none;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  bottom: 50px;
  left: 10px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "quicksand";
  font-size: 35px;
  padding: 10px;
  color: white;
}

.titulo-principal {
  background-color: #ce2445;
}

.imagen-museo {
  height: 550px;
  background: url(.//assets/5101.jpeg);
  background-position: top;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: white;
  justify-content: space-around;
}

form .busqueda {
  width: 500px;
}

form .busqueda input {
  width: 90%;
  border: transparent;
  border-bottom: 2px solid #000;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 5px;
}

form .filtros {
  width: 800px;
  font-weight: bold;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form .filtros select {
  border: transparent;
  border-radius: 5px;
  margin-left: 5px;
  width: 100px;
  font-size: 15px;
  color: black;
}

.div-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.div-interior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #072227;
  width: 450px;
  height: 500px;
  margin: 10px;
  padding: 15px;
  box-shadow: 1px 0px 17px 5px rgba(201, 201, 201, 0.63);
  -webkit-box-shadow: 1px 0px 17px 5px rgba(201, 201, 201, 0.63);
  -moz-box-shadow: 1px 0px 17px 5px rgba(201, 201, 201, 0.63);
}

.div-interior:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 7;
}

img {
  width: 230px;
  height: 300px;
}

.imagen-card {
  height: 300px;
}

.info-card {
  width: 30%;
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.titulo-obras {
  font-family: "nunito";
  font-size: 18px;
  color: #fbfbfb;
  font-weight: bold;
  text-align: center;
}

.titulo-obras:hover {
  color: #2d4263;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.autor-obras {
  font-family: "nunito";
  font-size: 15px;
  color: #fbfbfb;
  text-align: center;
  padding: 25px;
}

.autor-obras:hover {
  color: #2d4263;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.iconos-flechas {
  height: 80px;
  background-color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icono-paginado {
  color: white;
}

.contador {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.div-contenedor-detalle {
  display: none;
  width: 100%;
  height: 500px;
  background-color: #959191;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-contenedor-detalle .obra-detalle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-contenedor-detalle .obra-detalle .info-obra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.div-contenedor-detalle .obra-detalle .info-obra .div-parrafo {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  color: white;
  padding-top: 15px;
}

.parrafo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ce2445;
  color: #fff8f3;
  height: 50px;
}

.section-principal {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .div-contenedor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .div-interior {
    width: 70%;
    height: 85%;
  }
  img {
    width: 100%;
  }
  .info-card {
    padding: 0;
    font-size: 12px;
    width: 60%;
    overflow: hidden;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  form {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0px 20px 0px;
  }
  form .busqueda {
    width: 400px;
    margin-bottom: 15px;
  }
  form .filtros {
    width: 400px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .boton-buscar {
    position: relative;
    right: 15px;
  }
  .parrafo-footer {
    height: 30%;
    width: 100%;
  }
  .imagen {
    width: 200px;
    height: 230px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .obra-detalle {
    height: 500px;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
  }
  .info-obra {
    width: 400px;
    height: 120px;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div-parrafo {
    width: 400px;
    height: 100px;
    text-align: center;
  }
  .boton-volver-atras {
    color: black;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=styles.css.map */